<!DOCTYPE html>
<html ng-app>
  <head>
    <title> EasyMath Demo</title>
    <intercept-url pattern="/favicon.ico" access="ROLE_ANONYMOUS" />
    <!-- Quill text editor -->
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" type="text/css" media="all" href="styles/style2.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script type="text/javascript" src="javascript/quill.js"></script>

    <!-- dependencies (jquery, handlebars and bootstrap) -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.min.js"></script>
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
     
    <!-- alpaca -->
    <link type="text/css" href="https://code.cloudcms.com/alpaca/1.5.17/bootstrap/alpaca.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://code.cloudcms.com/alpaca/1.5.17/bootstrap/alpaca.min.js"></script>

    <!-- Downloading file  -->
    <script type="text/javascript" src="https://cdn.rawgit.com/eligrey/FileSaver.js/62d219a0fac54b94cd4f230e7bfc55aa3f8dcfa4/FileSaver.js" </script>
    <script src="http://absurdjs.com/builds/absurd.organic.js"></script>
    <script src="http://absurdjs.com/builds/absurd.js"></script>

    <!-- Document control -->
    <script type="text/javascript" src="javascript/document_control.js"></script>

    <meta charset="utf-8">
    
  </head>

  <body ng-controller="textDisplayControl">
    <!-- Text Editor Display components -->

    <!-- Step 1: Collect JS Credentials -->
    <h1> Step 1: Javascript details <h1> 
    <br>
    <div id = "initialText">
    <input type="text" id="ghfieldname" ng-model="jsFileName" placeholder="File name">
    <input type="text" id="ghfieldname" ng-model="jsExampleID" placeholder="example ID">

    <div>
    <a href="#" id="ghsubmitbtn" ng-click="loadJSDetails()">Confirm JS Details</a>
    <div>

    <br>
    <br>  


    <h1> Step 2: Enter the text <h1> 
    <div id="content-container">
      <div id="editor-wrapper">
        <div id="editor-container"></div>
      </div>
    </div> 

    <!-- Text Editor Control components  -->
    <script type="text/javascript" src="javascript/text_editor.js"></script>


    <!-- Listing out the variable results  -->
    <h1> Step 3: Define Variables </h1>
    <div id = "loadButton">
    <a href="#" id="ghsubmitbtn" ng-click="getParseText()">Load Variables</a>
    </div>

    <div id= "variableResults" class="repolist clearfix">
      <h2> Constants </h2>
      <ul ng-repeat="i in consts">
         <li><a href="#" ng-click="loadForVariable(i, 'const')"> {{i}} </a></li>
      </ul>

      <br>
      <br>


      <h2> Independent Variables </h2>
      <ul ng-repeat="j in indVar">
         <li><a href="#"  ng-click="loadForVariable(j, 'ind')"> {{j}} </a></li>
      </ul>

      <br> 
      <br>

      <h2> Dependent Variables </h2>
      <ul ng-repeat="k in depVar">
       <li><a href="#" ng-click="loadForVariable(k, 'dep')">  {{k}} </a></li>
      </ul>
    </div>

    <!-- Define Variables  -->
    <!-- Form goes here  -->
    <div id="defineVariables">
    </div>


    <!-- Generate HTML Button  -->
    <div id="downloadHTML">
      <a href="#" id="ghsubmitbtn" ng-click="renderHTMLOption()">Download HTML</a>
    </div>
   
    
  </body>
</html>